{
  "Scripts": [
    "/ImportCoreFunctions.ps1",
    "/OptionParser.ps1",
    "/SQLServer/SQLServerOptionParsers.ps1",
    "/SQLServer/SQLServerInstaller.ps1",
    "/Export-Function.ps1",
    "/Start-PowerShellProcess.ps1",
    "SQLServerForAOAG.ps1"
  ],
  "Commands": [
    {
      "Name": "Initialize-AOAGPrimaryReplica",
      "Arguments": {
        "UserName": "$domainAdminAccountName",
        "NodeList": "$nodeList",
        "PrimaryNode": "$primaryNode",
        "DomainName": "$domainName",
        "UserPassword": "$domainAdminAccountPassword",
        "GroupName": "$groupName",
        "ListenerName": "$listenerName",
        "SyncModeNodeList": "$syncModeNodeList",
        "ListenerIP": "$listenerIP",
        "DatabaseList": "$databaseList"
      }
    }
  ]
}
