#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

%:
	dh $@ --buildsystem python_distutils --with python2

#override_dh_auto_install:
#	sed -i "/setup_requires=.*/d" setup.py
#	sed -i "/'.*'/d" setup.py
#	sed -i "/],/d" setup.py
#	/opt/openstack-murano-virtualenv/bin/python setup.py install --force --no-compile -O0 --root=debian/openstack-murano-virtualenv-murano-api
#	mkdir -p debian/openstack-murano-virtualenv-murano-api/etc
#	cp -r etc/ debian/openstack-murano-virtualenv-murano-api/etc/murano

override_dh_installinit:
	dh_installinit --no-start --name openstack-murano-api
