Source: openstack-murano-virtualenv-murano-conductor
Section: Python
Priority: extra
Maintainer: root <ashestakov@mirantis.com>
Build-Depends: debhelper (>= 8.0.0),
 python-setuptools,
 python-virtualenv,
 openstack-murano-virtualenv,
 openstack-murano-virtualenv-python-d2to1,
 openstack-murano-virtualenv-python-greenlet,
 openstack-murano-virtualenv-python-markupsafe,
 openstack-murano-virtualenv-python-pbr,
 openstack-murano-virtualenv-python-puka (>= 1.0.7c),
 openstack-murano-virtualenv-python-eventlet (>= 0.9.12),
 openstack-murano-virtualenv-python-anyjson,
 openstack-murano-virtualenv-murano-common (>= 0.2),
 openstack-murano-virtualenv-python-babel,
 openstack-murano-virtualenv-python-sqlalchemy,
 openstack-murano-virtualenv-python-pastedeploy,
 openstack-murano-virtualenv-python-repoze.lru,
 openstack-murano-virtualenv-python-routes,
 openstack-murano-virtualenv-python-pytz,
 openstack-murano-virtualenv-python-sqlalchemy-migrate,
 openstack-murano-virtualenv-python-tempita,
 openstack-murano-virtualenv-python-decorator,
 openstack-murano-virtualenv-python-webob,
 openstack-murano-virtualenv-python-httplib2,
 openstack-murano-virtualenv-python-pycrypto,
 openstack-murano-virtualenv-python-iso8601 (>= 0.1.4),
 openstack-murano-virtualenv-python-six,
 openstack-murano-virtualenv-python-netaddr,
 openstack-murano-virtualenv-python-lxml,
 openstack-murano-virtualenv-python-jsonschema (>= 2.0.0),
 openstack-murano-virtualenv-python-oslo.config,
 openstack-murano-virtualenv-python-amqp,
 openstack-murano-virtualenv-python-ordereddict,
 openstack-murano-virtualenv-python-requests,
 openstack-murano-virtualenv-python-simplejson,
 openstack-murano-virtualenv-python-kombu,
 openstack-murano-virtualenv-python-prettytable,
 openstack-murano-virtualenv-python-keystoneclient (>= 0.3.0),
 openstack-murano-virtualenv-python-boto,
 openstack-murano-virtualenv-python-passlib,
 openstack-murano-virtualenv-python-paste,
 openstack-murano-virtualenv-python-jsonpath,
 openstack-murano-virtualenv-python-heatclient (>= 0.2.4),
 openstack-murano-virtualenv-python-deep,
 openstack-murano-virtualenv-python-warlock,
 openstack-murano-virtualenv-python-jsonpatch,
 openstack-murano-virtualenv-python-jsonpointer,
 openstack-murano-virtualenv-python-mysql,
 openstack-murano-virtualenv-python-quantumclient
Standards-Version: 3.9.2
Homepage: mirantis.com

Package: openstack-murano-virtualenv-murano-conductor
Architecture: all
Depends: ${misc:Depends}
 python,
 python-setuptools,
 python-virtualenv,
 openstack-murano-virtualenv,
 openstack-murano-virtualenv-python-d2to1,
 openstack-murano-virtualenv-python-greenlet, 
 openstack-murano-virtualenv-python-markupsafe, 
 openstack-murano-virtualenv-python-pbr, 
 openstack-murano-virtualenv-python-puka (>= 1.0.7c),
 openstack-murano-virtualenv-python-eventlet (>= 0.9.12), 
 openstack-murano-virtualenv-python-anyjson, 
 openstack-murano-virtualenv-murano-common (>= 0.2), 
 openstack-murano-virtualenv-python-babel, 
 openstack-murano-virtualenv-python-sqlalchemy, 
 openstack-murano-virtualenv-python-pastedeploy, 
 openstack-murano-virtualenv-python-repoze.lru,
 openstack-murano-virtualenv-python-routes, 
 openstack-murano-virtualenv-python-pytz, 
 openstack-murano-virtualenv-python-sqlalchemy-migrate, 
 openstack-murano-virtualenv-python-tempita, 
 openstack-murano-virtualenv-python-decorator, 
 openstack-murano-virtualenv-python-webob, 
 openstack-murano-virtualenv-python-httplib2, 
 openstack-murano-virtualenv-python-pycrypto, 
 openstack-murano-virtualenv-python-iso8601 (>= 0.1.4), 
 openstack-murano-virtualenv-python-six, 
 openstack-murano-virtualenv-python-netaddr, 
 openstack-murano-virtualenv-python-lxml, 
 openstack-murano-virtualenv-python-jsonschema (>= 2.0.0),
 openstack-murano-virtualenv-python-oslo.config,
 openstack-murano-virtualenv-python-amqp, 
 openstack-murano-virtualenv-python-ordereddict, 
 openstack-murano-virtualenv-python-requests, 
 openstack-murano-virtualenv-python-simplejson, 
 openstack-murano-virtualenv-python-kombu, 
 openstack-murano-virtualenv-python-prettytable, 
 openstack-murano-virtualenv-python-keystoneclient (>= 0.3.0), 
 openstack-murano-virtualenv-python-boto, 
 openstack-murano-virtualenv-python-passlib, 
 openstack-murano-virtualenv-python-paste, 
 openstack-murano-virtualenv-python-jsonpath,  
 openstack-murano-virtualenv-python-heatclient (>= 0.2.4), 
 openstack-murano-virtualenv-python-deep, 
 openstack-murano-virtualenv-python-warlock, 
 openstack-murano-virtualenv-python-jsonpatch, 
 openstack-murano-virtualenv-python-jsonpointer,
 openstack-murano-virtualenv-python-mysql,
 openstack-murano-virtualenv-python-quantumclient
Description: openstack-murano-virtualenv-murano-conductor installed to virtualenv
