#!/usr/bin/make -f
# -*- makefile -*-

# export DH_VERBOSE=1

DESTDIR:=$$(pwd)/debian/murano-conductor

%:
	dh $@ --buildsystem python_distutils --with python2

override_dh_auto_install:
	mkdir -p $(DESTDIR)/etc
	cp -r etc   $(DESTDIR)/etc/murano
	cp -r data  $(DESTDIR)/etc/murano
	#cp -r data3 $(DESTDIR)/etc/murano
	#cp -r data5 $(DESTDIR)/etc/murano

override_dh_installinit:
	dh_installinit --no-start --name openstack-murano-conductor
