{
  "Scripts": [
    "ImportCoreFunctions.ps1",
    "DeployWebApp.ps1"
  ],
  "Commands": [
    {
      "Name": "Deploy-WebAppFromGit",
      "Arguments": {
        "URL": "$repository"
      }
    }
  ],
  "RebootOnCompletion": 0
}